.notification
  .notice
    グループを作成しました
.main
  = render "shared/side_bar"
  .chat
    .chat_header
      .left-header
        .left-header_title
          sample
        %ul.left-header_members
          Member :
          %li.member
            omi  kaoru
      .right-header_button
        Edit
    = render "messages_main"     
    .form
      %form#new_message.form_1
        %input.form_message(placeholder="type a message" type="text")
        .form_mask
          %label.form_mask_image
            = fa_icon 'picture-o' , class: 'icon'
        %input.form_submit(type="submit" value ="Send")  