.chat {
   width: calc(100% - 300px);
   .chat_header {
    height: 100px;
    padding: 0 35px;
    .left-header {
     float: left;
      .left-header_title {
       font-size: 20px;
       color: #333333;
       margin-top: 35px;
      }
      .left-header_members {
       font-size: 12px;
       color: #999999;
       margin-top: 15px;
       display: flex;
       .member {
        padding-left: 5px;
        display: inline-block;
       }  
      }
    }  
    .right-header_button {
      color: #38AEF0;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      border: 1px solid #38AEF0;  	
    }     
  }
  .messages_main {
   background-color: #FAFAFA;
   height: calc(100vh - 100px - 90px);
   padding: 46px 40px 0;
   .message {
   	margin-bottom: 40px;
   	.message_up {
     display: flex;
     .up_name {
      color: #434a54;
      font-size: 16px;
      font-weight: bold;	
     }
     .up_data {
      color: #999999;
      font-size: 12px;
      padding-left: 10px;	
     }		
   	}
   	.message_down {
   	 margin-top: 10px;
   	 .down_content {
   	  color: #434A54;
   	  font-size: 14px;
   	  margin-bottom: 10px;	
   	 }	
   	}
   }	
  }   	    		
}


