.groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  .group {
   padding: 20px 0 40px;
   .group_name {
    font-size: 15px;
    color: #FFFFFF
    }
   .group_message {
    font-size: 11px;
    color: #FFFFFF  
    }  
  }  
}